footer {
    background: rgb(73, 79, 82);
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    /* margin: 20px 0; */
    padding: 10px;
    color: white;
  }
  
  .ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 1;
    list-style-type: none;
  }

  .name {
    color: aliceblue;
    -webkit-text-stroke: 0.2px black;
  }