nav {
    display: flex;
    /* position: fixed; */
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(73, 79, 82);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav-links {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.navImg {
    height: 50px;
    border-radius: 50%;
    background-color: aliceblue;
}

/* searchBox */
.searchContainer {
    position: absolute;
    color: black;
    top: 30px;
}
.login {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.error {
    text-align: center;
    font-size: 80%;
    font-weight: bold;
    color: black;
}
.labelInput {
    text-align: center
}
.modalTitle {
    text-align: center;
}
.input {
    background-color: rgb(73, 79, 82);
    color:aliceblue;
}
.signup {
    text-align: center;
    color: black;
}
.signupLink {
    color: white;
    text-decoration: underline;
    margin: auto;
}
.username {
    background-color: aliceblue;
    color: black;
    text-decoration: underline;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.username::after {
    background-color: aliceblue;
    width: 50px;
    height: 50px;
}
.logout {
    position: absolute;
    font-size: 70%;
    color: darkgrey;
}