nav {
    display: flex;
    /* position: fixed; */
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(73, 79, 82);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav-links {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.navImg {
    height: 50px;
    border-radius: 30%;
}

/* searchBox */
.searchContainer {
    position: absolute;
    color: black;
    top: 30px;
}